set surround

set hlsearch
set incsearch
set ignorecase
set clipboard=unnamed,unnamedplus
set clipboard+=ideaput

nmap <A-a> ggVG

let mapleader = " "
nmap <leader>x <Action>(CloseContent)
nmap <leader>bo <Action>(CloseAllEditorsButActive)

nmap <leader>ra <Action>(RenameElement)
nmap <leader>ca <Action>(ActivateProblemsViewToolWindow)

nmap <leader>ff <Action>(GotoFile)
nmap <leader>fw <Action>(SearchEverywhere)
nmap <leader>fb <Action>(Switcher)
nmap <leader>fm <Action>(ReformatCode)

nmap <A-h> <Action>(ActivateTerminalToolWindow)

map s <Action>(AceAction)

nnoremap Y y$
nnoremap <Esc> :noh<cr>

" Other useful mappings
" <S-k>: hover doc
" <C-tab>: hold control using n/p to switch tabs
" <C-o/i>: navigate to old/new position
" <C-w>l/j/h/k: move between windows